$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

$extra-breakpoint: 1700px;

$color1: rgb(106, 106, 106);
$color2: rgb(253, 245, 245);
$color3: lightcoral;
$color4: rgb(126, 126, 126);
$color5: rgb(224, 224, 224);
