@use 'mixins' as *;
@use 'global' as *;
@use 'variables' as *;

.navbar {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  position: fixed;
  background-color: white;
  width: 100%;
}

li {
  padding-left: 1.5em;
  color: $color1;
}

#hero-container {
  padding-top: 7em;
  padding-bottom: 3em;
  background-color: $color5;
  display: flex;
  justify-content: center;
}

.logo {
  background-color: $color3;
  width: 8.55rem;
  height: 4rem;
  text-align: center;
  color: $color2;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 2px solid $color1;
}

.main {
  background-color: $color2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#cocktail-section {
  flex-direction: column;
  display: flex;
  padding-bottom: 2em;
  width: 45%;
  padding-right: 2em;
  padding-left: 2em;
}

.cocktail {
  &__header {
    padding-bottom: 0.75em;
    justify-content: center;
    display: flex;
  }
}

.img {
  width: 50%;
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ingredients {
  font-size: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

#trivia-section {
  flex-direction: column;
  display: flex;
  padding-bottom: 5em;
  width: 100%;
  padding-right: 2em;
}

.trivia__container--header {
  justify-content: center;
  display: flex;
  padding-bottom: 0.75em;
}
