@use 'mixins' as *;
@use 'global' as *;
@use 'variables' as *;

.main {
    background-color: $color2;
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
background-color: $color1;
margin: 1 auto;
}

.ingredients {
    background-color: $color1;
    font-size: 1.5rem;
    margin-top: 1rem;
}